.style{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, rgb(0, 255, 102), #00ff66b2 60%,#00ff6675 40%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    margin: 0 auto;
}