.container{
    display: grid;
    margin-top: 20px;
    justify-content: center;
    .hello{
        color: red;
    }

    .world{
        color: royalblue;
    }

    .image{
        margin-top: 10px;
    }
}
